

/*-----Reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---HEADER----*/
.header-container{
    background-color:rgba(219, 217, 215, 0.5);
    display: flex;
    justify-content: center;
     width: 100%;
    color: black;
}

header{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
   align-items: center;
  justify-content: space-around;
      
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img{
 width: 500px;

}

.search-bar{
      display: flex;
    flex-direction: column;
    justify-content: center;
}


.search-bar input{
    border-radius: 30px;
    padding: 16px ;
    width: 600px;
    font-size: large;
    
}

.header-actions{
    display: flex;
    gap: 15px;
    font-size: 40px;
    padding: 0 100px ;
}

.carosell-container{
    position: relative;
    width: 100%;
}

.carosell-img-container {
  position: relative;
  width: 100%;
 
}

.carosell-img-container img{
   width: 100%;
    transition: transform 0.7s cubic-bezier(0.4,0,0.2,1);
   display: block;
   
}

.carosell-overlay {
  position: absolute;
  top: 30%;
  left:15%;
  color: white;
  padding: 20px ;
  width: 70%;
  border-radius: 10px;
  margin: 0 auto;
}

.carosell-overlay h1 {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 50px ;
}

.carosell-overlay .btn-slide {
    background-color: rgb(245, 141, 6);
    padding: 12px 26px;
    border-radius: 26px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
}

.carosell-arrow {
  position: absolute;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 200px;
  cursor: pointer;
  z-index: 2;
}

.carosell-arrow-left {
  left: 9%;
}

.carosell-arrow-right {
  right: 9%;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 10px;
}

.ebike-list-header{
  padding: 40px;

 
}


.ebike-list-header h1 {
    font-size: 50px;
    margin-bottom: 10px;

}

.ebike-list-header p {
    font-size: 26px;
    
}

.description-container{
    padding: 28px;
}
.description-container p {
    margin-bottom: 20px;
    font-size: 22px;
}

.footer-container{
    background-color:#f7f7f7ff;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    
}

footer{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
   align-items: center;
  justify-content: space-around;
      
}

.footer-actions{
    display: flex;
    gap: 15px;
    font-size: 22px;
    font-weight: 700;
    padding: 0 100px ;
}

footer .logo > img{
 width: 300px;
}